/******************
* Editor Menu CSS *
*******************/

.monaco-editor-container .editor-menu {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.monaco-editor-container .editor-touch-toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  justify-content: flex-end;
  max-width: min(100%, 32rem);
  padding: 0.4rem;
  pointer-events: auto;
}

.monaco-editor-container .editor-touch-button {
  background-color: var(--bg-color);
  border: 2px solid var(--border-color-2);
  border-radius: 0.5rem;
  color: var(--font-color);
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: bold;
  min-height: 2.5rem;
  min-width: 2.75rem;
  padding: 0.35rem 0.65rem;
}

.monaco-editor-container .editor-touch-button:hover {
  border-color: var(--font-color);
}

@media screen and (min-width: 900px) {
  .monaco-editor-container .editor-touch-toolbar {
    position: absolute;
    right: 3.25rem;
    top: 0.5rem;
  }
}

@media screen and (max-width: 900px) {
  .monaco-editor-container .editor-touch-toolbar {
    justify-content: stretch;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
  }

  .monaco-editor-container .editor-touch-button {
    flex: 1;
    font-size: 0.8rem;
    min-height: 2.75rem;
  }

  .monaco-editor-container #monaco-editor {
    padding-top: 3.4rem;
  }
}
.monaco-editor-container .editor-menu > div.menu-kebab {
  width: 60px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  scale: 0.5;
}
.monaco-editor-container .editor-menu:hover > div.menu-kebab,
.monaco-editor-container .editor-menu:focus > div.menu-kebab {
  outline: none;
  scale: 0.65;
}
.monaco-editor-container .menu-kebab .kebab-circle {
  width: 12px;
  height: 12px;
  margin: 3px;
  background: var(--font-color);
  border-radius: 50%;
  display: block;
  opacity: 0.8;
}
.monaco-editor-container .menu-kebab {
  flex-direction: column;
  position: relative;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.monaco-editor-container .menu-kebab .kebab-circle:nth-child(4),
.monaco-editor-container .menu-kebab .kebab-circle:nth-child(5) {
  position: absolute;
  opacity: 0;
  top: 50%;
  margin-top: -6px;
  left: 50%;
}
.monaco-editor-container .menu-kebab .kebab-circle:nth-child(4) {
  margin-left: -25px;
}
.monaco-editor-container .menu-kebab .kebab-circle:nth-child(5) {
  margin-left: 13px;
}
.monaco-editor-container .editor-menu:hover .menu-kebab,
.monaco-editor-container .editor-menu:focus .menu-kebab {
  transform: rotate(45deg);
}
.monaco-editor-container .editor-menu:hover .menu-kebab .kebab-circle,
.monaco-editor-container .editor-menu:focus .menu-kebab .kebab-circle {
  opacity: 1;
}

.monaco-editor-container .editor-menu .menu-item {
  display: none;
  margin: 1rem 0;
  height: 1.75rem;
  opacity: 0.5;
  position: relative;
  -webkit-animation-name: editor-menu-animateitem;
  -webkit-animation-duration: 0.4s;
  animation-name: editor-menu-animateitem;
  animation-duration: 0.4s;
}
@-webkit-keyframes editor-menu-animateitem {
  from { top: -50%; opacity: 0; }
  to { top: 0; opacity: 0.5; }
}
@keyframes editor-menu-animateitem {
  from { top: -50%; opacity: 0; }
  to { top: 0; opacity: 0.5; }
}
.monaco-editor-container .editor-menu .menu-item:hover {
  opacity: 1;
}
.monaco-editor-container .editor-menu:hover .menu-item,
.monaco-editor-container .editor-menu:focus .menu-item {
  display: block;
}
